In [1]:
#q1 

s='ineuron '
for i in range(4):
    print((i+1)*s)

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [21]:
row = int(input("Please enter how many rows you want to print: "))

for i in range(row):
    print("ineuron "*(i+1))

Please enter how many rows you want to print: 9
ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron

In [5]:
#q2

n = 3

for i in range(n):
    print('      '*(n-i) + 'ineuron      '*(i))
for i in range(n):
    print('      '*(i) + 'ineuron      '*(n-i))

            ineuron
      ineuron      ineuron
ineuron      ineuron      ineuron
      ineuron      ineuron
            ineuron

In [27]:
#q2 using Center function

for i in range(6):
    if i <= 3:
        n = i
    else:
        n = 6 - i
    print(("ineuron   "*n).center(40,' '))

               ineuron
          ineuron   ineuron
     ineuron   ineuron   ineuron
          ineuron   ineuron
               ineuron

In [28]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [4]:
#q3 : Try to extract all the list entity

l1=[]
for i in l:
    if type(i)==list:
        l1.append(i)
print(l1)

[[1, 2, 3, 4], ['ineuron', 'data science ']]

In [29]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [5]:
#q4 : Try to extract all the dict enteties

l2=[]
for i in l:
    if type(i)==dict:
        l2.append(i)
print(l2)

[{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}]

In [30]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [6]:
#q5 : Try to extract all the tuples entities

l3=[]
for i in l:
    if type(i)==tuple:
        l3.append(i)
print(l3)

[(2, 3, 4, 5, 6), (3, 4, 5, 6, 7)]

In [7]:
#q6 : Try to extract all the numerical data it may b a part of dict key and values

l4=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l4.append(j)
    elif type(i)==dict:
        for k in i.keys():
            if type(k)==int:
                l4.append(k)
        for m in i.values():
            if type(m)==int:
                l4.append(m)
print(l4)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 7, 6, 8]

In [40]:
#q7 : Try to give summation of all the numeric data

l4=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l4.append(j)
    elif type(i)==dict:
        for k in i.keys():
            if type(k)==int:
                l4.append(k)
        for m in i.values():
            if type(m)==int:
                l4.append(m)
print(l4)
print(sum(l4))

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 7, 6, 8]
156

In [33]:
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int :
                l1.append(j)
    if type(i) == dict :
        for k in i.items() : 
            for g in k :
                if type(g) == int :
                    l1.append(g)
print(l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [9]:
#q8 : Try to filter out all the odd values out all numeric data which is a part of a list 

l5=[]
for i in l4:
    if i%2!=0:
        l5.append(i)
        
print(l5)

[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]

In [10]:
#q9 : Try to extract "ineruon" out of this data

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

l6=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if j=='ineuron':
                l6.append(j)
    elif type(i)==dict:
        for k in i.keys():
            if k=='ineuron':
                l6.append(k)
        for m in i.values():
            if m=='ineuron':
                l6.append(m)
            
print(l6)

['ineuron', 'ineuron']

In [11]:
#q10 :Try to find out a number of occurances of all the data

l7=[]
for i in l:
    for j in i:
        l7.append(j)
    if type(i)==dict:
        for k in i.values():
            l7.append(k)
print(l7)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'k2', 'k3', 3, 7, 'sudh', 'ineuron', 'kumar', 6, 8, 'ineuron', 'data science ']

In [12]:
for m in set(l7):
    print(m , ":", l7.count(m), end=" | ")

k1 : 1 | 1 : 1 | 2 : 2 | 3 : 4 | 4 : 4 | 5 : 3 | 6 : 3 | 7 : 2 | k2 : 1 | 8 : 1 | ineuron : 2 | data science  : 1 | 45 : 1 | sudh : 1 | 23 : 1 | kumar : 1 | k3 : 1 |

In [13]:
#q11 : Try to find out number of keys in dict element

l8=[]
for i in l:
    if type(i)==dict:
        for k in i:
            l8.append(k)
print(l8)
print(len(l8))

['k1', 'k2', 'k3', 3, 7]
5

In [44]:
for i in l :
    if type(i) == dict :
        print(len(list(i.keys())))

5

In [14]:
#q12 : Try to filter out all the string data

l9=[]
for i in l:
    for j in i:
        if type(j)==str:
            l9.append(j)
    if type(i)==dict:
        for k in i.values():
            if type(k)==str:
                l9.append(k)
print(l9)

['k1', 'k2', 'k3', 'sudh', 'ineuron', 'kumar', 'ineuron', 'data science ']

In [15]:
#q13 : Try to Find out alphanum in data

l10=[]
l11=[]
for i in l7:
    if type(i)==str:
        l10.append(i)

for j in l10:
    if j.isalnum()==True:
        l11.append(j)
        
print(l11)

['k1', 'k2', 'k3', 'sudh', 'ineuron', 'kumar', 'ineuron']

In [45]:
for i in l7 :
    if type(i) == str :
        if i.isalnum() : 
            print(i)

k1
k2
k3
sudh
ineuron
kumar
ineuron

In [17]:
#q14 : Try to find out multiplication of all numeric value inside dataset

l12=[]
for i in l7:
    if type(i)==int:
        l12.append(i)
print(l12)

mult=1
for j in l12:
    mult=mult*j
    print(mult)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 7, 6, 8]
1
2
6
24
48
144
576
2880
17280
51840
207360
1036800
6220800
43545600
1959552000
7838208000
39191040000
901393920000
2704181760000
18929272320000
113575633920000
908605071360000

In [46]:
j = 1
for i in l7 : 
    if type(i) == int :
        j = j*i
print(j)

908605071360000

# Ask for m value 1 removal in doubt session?

In [47]:
#q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset

for i in l :
    m = 1
    if type(i) == list  or type(i)  == tuple or type(i) == set :
        for j in i :
            if type(j) == int :
                m = m * j
        print(type(i) , m)
    if type(i) == dict:
        for k in i.items():
            for n in k :
                if type(n) == int : 
                    m = m * n
        print(type(i) , m)

<class 'list'> 24
<class 'tuple'> 720
<class 'tuple'> 2520
<class 'set'> 20700
<class 'dict'> 1008
<class 'list'> 1

In [18]:
#q15 : Try to unwrape all the collection inside collection and create a flat list

l14=[]
for i in l:
    for j in i:
        l14.append(j)
    if type(i)==dict:
        for k in i.values():
            l14.append(k)
print(l14)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'k2', 'k3', 3, 7, 'sudh', 'ineuron', 'kumar', 6, 8, 'ineuron', 'data science ']